@import url(4.css);

header{
	background-color: yellow;
}
form {
	background : pink;
	border-style : none;
	border-width : 1px;
	margin-left : 10px;
	margin-right : 10px;
}
.formspan {
	font-family : gothic;
}
footer{
	background-color: purple;
	padding: 10px;
}
